<div>
  <div lang="en">
    <h2>English</h2>


  <h1>About our project</h1>

  <p>
    Our group was formed in the Digital Humanities course, and our groupname is CCR. Our group members are Chloe, Constanza and Rocío. Two of us are located in Argentina while Chloe is located in the USA. On this website we each have biographies located under the biography tab. We also have made a charter explaining the goal of our project, the rules within the group and how we will be communicating. So far we have learned about multilingualism, how to use VS Code, about the World Wide Web, the importance of engaged research and other minimal computing tools which will be useful for us to reach our goal, which is to use digital resources and the humanities to create a website. 
    
  </p>

  <p>Example image:</p>

  <img src="mith301.jpg" alt="a logo" width="500" />

  <p>Example link: <a href="..">go back home</a>
  </p>

</div>