<h1>Chloe's Biography</h1>
<div>
<p>My name is Chloe Johnson. I was born and raised in Maryland and now am attending the University of Maryland. I am in my third year of college right now. I have previously gone to my community college and gotten my Associates degree in business administration. I am now working towards getting my bachelors degree in Information Science. I don't know what the future holds for me but I hope to be a part of a business oneday. I'm not sure exactly what I want to do but I know that I want to do something I enjoy and I don't mind taking time to figure that out. An interesting fact about myself is that I am really interested in sign language. It is like my hobby that I love to practice on the side. Maybe I could incorporate my love for sign language in a future job!
</p>
</div>
<img src="IMG_6152-2.jpg" width="560" height="400" alt="This is a photo of me in Downtown Frederick, close to my hometown"/>

