<div id="biografía">

<h1> Rocío Lengnick</h1>
<h2>Biografía</h2>

<p> 
    Mi nombre es Rocío Lengnick, tengo 19 años y soy de Río Grande, Tierra del Fuego, Argentina. Estoy en mi segundo año de  Historia en la USAL y elegí hacer este curso porque me interesaba ver un aspecto más tecnológico que podía unir con mi carrera y que podía aplicar en el futuro. Además, no tengo experiencia en las Humanidades Digitales, por lo que este curso fue una excelente oportunidad para aprender. Por otra parte, mis hobbies incluyen leer, escuchar música y ver películas. </p>
</div>